<!doctype html>
<html lang="en">

<head>


</head>

  <body>

    
    <div class="site-wrap" id="home-section">

      
      <div class="hero" style="background-image: url('images/hero_1_a.jpg');">
        
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">

              <div class="row mb-5">
                <div class="col-lg-7 intro">
                  <h1><strong>Araç Kiralamak</strong> için en hızlı yol</h1>
                </div>
              </div>
              
              <form action="/Araba/Index" method="get" class="trip-form">
                
                <div class="row align-items-center">
                  
                  <div class="mb-3 mb-md-0 col-md-3">
                    <select name="" id="" class="custom-select form-control">
                      <option value="" selected="selected">Araç Tipi</option>
                      <option value="">Manuel vites</option>
                      <option value="">Otomatik vites</option>
                    </select>
                  </div>
                  <div class="mb-3 mb-md-0 col-md-3">
                    <div class="form-control-wrap">
                      <input type="text" id="cf-3" name="RentDate" placeholder="Kiralanacak Tarih" class="form-control datepicker px-3">
                      <span class="icon icon-date_range"></span>

                    </div>
                  </div>
                  <div class="mb-3 mb-md-0 col-md-3">
                    <div class="form-control-wrap">
                      <input type="text" id="cf-4" name="DeliveryDate" placeholder="Teslim Tarihi" class="form-control datepicker px-3">
                      <span class="icon icon-date_range"></span>
                    </div>
                  </div>
                  <div class="mb-3 mb-md-0 col-md-3">
                    <input type="submit" value="Search Now" class="btn btn-primary btn-block py-3">
                  </div>
                </div>
                
              </form>

            </div>
          </div>
        </div>
      </div>
  


      <div class="site-section">
        <div class="container">
          <h2 class="section-heading"><strong>DropCar Nasıl Çalışır?</strong></h2>
          <p class="mb-5">Başlamanız için kolay birkaç adım</p>    

          <div class="row mb-5">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="step">
                <span>1</span>
                <div class="step-inner">
                  <span class="number text-primary">01.</span>
                  <h3>Araç Seç</h3>
                  <p>Listing ekranına giderek beğendiğiniz aracı uygunluk durumuna göre seçiniz</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="step">
                <span>2</span>
                <div class="step-inner">
                  <span class="number text-primary">02.</span>
                  <h3>Formu Doldur</h3>
                  <p>Sizden istenen bilgileri eksiksiz ve doğru bir şekilde giriniz.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="step">
                <span>3</span>
                <div class="step-inner">
                  <span class="number text-primary">03.</span>
                  <h3>Ödeme</h3>
                  <p>Online ve güvenli bir biçimde ödemenizi yaparak aracınızı kiralayabilirsiniz.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 mx-auto">
              <a href="#" class="d-flex align-items-center play-now mx-auto">
                <span class="icon">
                  <span class="icon-play"></span>
                </span>
                <span class="caption">Nasıl Çalışır</span>
              </a>
            </div>
          </div>
        </div>
      </div>
     

    <div class="site-section bg-primary py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-4 mb-md-0">
            <h2 class="mb-0 text-white">Hadi! Bir araç kirala</h2>
            <p class="mb-0 opa-7">Araç kiralamak için yandaki buton üzerinden yönlendirleceğiniz sayfadan seçim yapabilirsiniz</p>
          </div>
          <div class="col-lg-5 text-md-right">
            <a href="/Araba" class="btn btn-primary btn-white">Bir araç kirala</a>
          </div>
        </div>
      </div>
    </div>

      
      
    </div>

 
  </body>

</html>
